<% @page_title = "Sections List" %>

<%= link_to("<< Back to Pages List", {:controller => "pages", :action => 'list', :subject_id => @page.subject_id}, :class => 'back-link') %>

<div class="section list">
  <h2>Sections</h2>
  
  <%= link_to("Add New Section", {:action => 'new', :page_id => @page.id}, :class => 'action new') %>

  <table class="listing" summary="Section list">
    <tr class="header">
      <th>&nbsp;</th>
      <th class ="center">Section</th>
      <th class ="center">Visible</th>
      <th class ="center">Content Type</th>
      <th class ="center">Actions</th>
    </tr>
    <% @sections.each do |section| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td class ="center"><%= section.position %></td>
      <td class ="center"><%= section.name %></td>
      <td class="center"><%= status_tag(section.visible) %></td>
      <td class="center"><%= section.content_type %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => section.id, :page_id => @page.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => section.id, :page_id => @page.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => section.id, :page_id => @page.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
